@import 'tailwindcss';

.Q-container,.help-buttons{

    text-align: initial;
}
.Q-container{
    margin: 40px auto;
    padding:10px;
}
.help-buttons{
    margin: 5px auto;
}
.questions{
    border:1px solid #dcdcdc;
    display:flex;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #dcdcdc;
}
.Q{
    width:80%;
}
.Q,.icon{
    padding: 10px 3px;
}
.answer{
    text-align: left;
    padding-left: 20px;   
}
.answer p{
    font-size: 16px;
    font-weight: lighter;

}
.hidden{
    display: none;
}